<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cage Alarm Tracker</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/LOGO-removebg-preview.png" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <%- include('header') %>

  <div class="container-normal">
    <h1>Cage Alarm Tracker</h1>

    <button onclick="saveCageAlarm()" class="save-button">Save Cage Alarm</button>
  </div>

  <br>

  <div class="container-normal">
    <h2>All Cage Alarms:</h2>
    <% if (user) { %>
      <a href="/cage-alarm-log" class="button-orgasm-log">View All Cage Alarms</a>
    <% } %>
  </div>

 

  <%- include('footer') %>
  <script>
    function saveCageAlarm() {
      const today = new Date().toISOString().split("T")[0];

      // Send a POST request to save the cage alarm
      fetch("/saveCageAlarm", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ date: today })
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // Cage alarm saved successfully
            alert("Cage alarm saved!");

            // Refresh the page to update the cage alarm data
            location.reload();
          } else {
            // Failed to save the cage alarm
            alert("Failed to save the cage alarm.");
          }
        })
        .catch(error => {
          console.error("Error:", error);
          alert("An error occurred while saving the cage alarm.");
        });
    }



    document.addEventListener("DOMContentLoaded", function() {
      generateChart();
    });
  </script>
</body>
</html>
