<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cage Alarm Log</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/LOGO-removebg-preview.png" sizes="32x32">
</head>
<body>

    <%- include('header') %>
    
    <div class="container-normal">
      <a href="/cage-alarm-tracker" class="tracker-link">Go back to cage alarm tracker</a> <!-- Add the link to the cage-alarm-tracker page -->
    </div>


  <div class="container-normal">
    <h1>Cage Alarm Log</h1>

    <% if (cageAlarms.length > 0) { %>
      <ul>
        <% cageAlarms.forEach((alarm) => { %>
          <li>
            <%= new Date(alarm.date).toLocaleString(undefined, { timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone, weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No cage alarms recorded yet.</p>
    <% } %>
  </div>

  <%- include('footer') %>
</body>
</html>
