<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orgasm Log</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/LOGO-removebg-preview.png" sizes="32x32">
</head>
<body>
  <% if (user) { %>
    <%- include('header') %>
    <a href="/orgasm-tracker">Go back to orgasm tracker</a> <!-- Add the link to the orgasm-log page -->
  <% } %>

  <div class="container-normal">
    <h1>Orgasm Log</h1>

    <% if (orgasms.length > 0) { %>
      <ul>
        <% orgasms.forEach((orgasm) => { %>
          <li>
            <%= orgasm.type %> - <%= new Date(orgasm.date).toLocaleString(undefined, { timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone, weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>

          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No orgasms recorded yet.</p>
    <% } %>
  </div>

  <%- include('footer') %>
</body>
</html>
