<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Rewards</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon"  href="/images/LOGO-removebg-preview.png" sizes="32x32">
</head>
<body>

  <%- include('header') %>

  <h1>Create Reward</h1>
  <form action="/create-reward" method="POST">
    <label for="reward">Reward:</label>
    <input type="text" id="reward" name="reward" required><br>
    <label for="cost">Cost:</label>
    <input type="number" id="cost" name="cost" required><br>
    <button type="submit">Create</button>
  </form>



 <%- include('footer') %>
<script src="/script.js"></script>
</body>
</html>
