<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disclaimer</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/LOGO-removebg-preview.png" sizes="32x32">
  <style>
    @media only screen and (min-width: 768px) {
      .container {
        max-width: 600px;
        margin: 0 auto;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Disclaimer</h1>
    <p>
      By accessing and using this website, you acknowledge and agree to the following terms and conditions:
    </p>

    <h2>1. Adult Content</h2>
    <p>
      The content provided on this website is intended for adult audiences only. If you are under the legal age in your jurisdiction or find adult-oriented material offensive, please leave immediately.
    </p>

    <h2>2. Limitation of Liability</h2>
    <p>
      The owner and creator of this website cannot be held responsible for any actions, consequences, or liabilities arising from the use of this website. Users assume all risks associated with their participation.
    </p>

    <h2>3. Consent and Responsibility</h2>
    <p>
      This website contains explicit content related to chastity and a task and reward system. It is essential to understand that these activities are intended for consensual, responsible adults who engage in such activities willingly and with full knowledge of the risks involved.
    </p>

    <h2>4. Educational and Entertainment Purposes</h2>
    <p>
      The information and materials provided on this website are for educational and entertainment purposes only. They do not constitute professional advice or endorsement of any specific practices. Users should seek appropriate guidance and consult experts or professionals if needed.
    </p>

    <h2>5. Accuracy and Availability</h2>
    <p>
      The owner and creator of this website strive to provide accurate and up-to-date information, but they make no warranties or representations of any kind, expressed or implied, regarding the accuracy, completeness, reliability, suitability, or availability of the content.
    </p>

    <h2>6. External Links</h2>
    <p>
      This website may contain external links to third-party websites. These links are provided for convenience and informational purposes only. The owner and creator of this website have no control over the content, privacy policies, or practices of these external websites and do not endorse or accept any responsibility for them.
    </p>

    <h2>7. Compliance with Laws</h2>
    <p>
      All users are expected to act in compliance with applicable laws and regulations while using this website. Any illegal or abusive behavior will not be tolerated, and appropriate actions may be taken.
    </p>

    <p>
      By continuing to use this website, you acknowledge that you have read, understood, and agreed to the terms and conditions stated above. If you do not agree with any part of this disclaimer, please refrain from accessing or using this website.
    </p>
  </div>



  <script src="/script.js"></script>
</body>
</html>
