<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    footer {
        background-color: rgb(65, 96, 255); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgb(32, 54, 255), rgb(179, 0, 255));
        color: white;
        text-align: center;
        padding: 5px 0; /* Adjust the padding values */
        margin-top: auto;
    }
</style>

<body>
    <!-- Your page content here -->

    <footer>
        <p>ChastityLogHub </p>
    </footer>
</body>
