<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/LOGO-removebg-preview.png" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <style>
        /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
    </style>
  <%- include('header') %>

  <div class="container-normal-center">
    <h2>Inside Chastity log Hub we have a couple games for you!</h2>
  </div>

   <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'SpinningWheel')">Spinning Wheel</button>
    <button class="tablinks" onclick="openCity(event, '#1')">#1</button>
    <button class="tablinks" onclick="openCity(event, '#2')">#2</button>
  </div>
  
  <div id="SpinningWheel" class="tabcontent">
    <h3>Spinning Wheel</h3>
    <p>You want to be in chastity but don't have a keyholder to decide how long you should lock up ? <br>This could be helpful for you! <br>In this Spinning Wheel there are 8 outcomes: 
        <br>- 1 day <br>- 2 days<br>- 3 days<br>- 4 days<br>- 5 days<br>- 6 days<br>- 7 days<br>- 14 days<br></p>
    <div class="container-normal">
        <a href="/spinningwheel" class="tracker-link">Spinning Wheel</a> <!-- Add the link to the orgasm-log page -->
       </div>
  </div>
  
  <div id="#1" class="tabcontent">
    <h3>#1</h3>
    <p></p> 
  </div>
  
  <div id="#2" class="tabcontent">
    <h3>#2</h3>
    <p></p>
  </div>

  
  <%- include('footer') %>

  <script src="/script.js"></script>
  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>

</body>
</html>
