<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon"  href="/images/LOGO-removebg-preview.png" sizes="32x32">
</head>
<body>


  <div class="container-normal-center">
    <img src="/images/LOGO-removebg-preview.png" alt="Icon" style="width: 100px; height: 100px; ;">
  </div>


<div class="container-normal-center">
    <h1>
        Welcome to ChastityLogHub!
    </h1>
    <p>This is a website/app mainly for chastity users.</p>
</div>


  <div class="container-index-intro">
    <h1>Login</h1>
    <form id="loginForm" action="/login" method="POST">
      <input type="text" name="username" placeholder="Username or Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
    <h1>Sign Up</h1>
    <form id="signupForm" action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Sign Up</button>
    </form>
  </div>

  <hr>

  <div class="container-normal-center">
    <h2>Looking for keyholder questions.</h2>
    <p>Here you can access the page looking for keyholder questions. <br>No need to sign up. <br>You can fill out this form and generate a PDF file. <br>This PDF file you can share with other users.</p>
    <a href="/looking-for-keyholder-questions" class="button-orgasm-log">Looking for keyholder questions</a>
  </div>


  <script src="/script.js"></script>

</body>
</html>
