<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    footer {
        background-color: rgb(0, 123, 255);
        color: white;
        text-align: center;
        padding: 5px 0; /* Adjust the padding values */
        margin-top: auto;
    }
</style>

<body>
    <!-- Your page content here -->


<div class="container-normal">
    <h1>ChastityLogHub News! Mon 12 June</h1>
    <p>Here you will find the latest news from the website:</p>
</div>





</body>
