<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task And Reward</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/LOGO-removebg-preview.png" sizes="32x32">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <%- include('header') %>



  <div class="container-normal">
    <h1>Welcome, <%= user.username %> to Task And Reward!</h1>
    <div class="w3-card-4" style="width: 200px; display: flex; flex-direction: column; align-items: center;">
      <img src="/images/icons8-coin-48.png" alt="Alps" style="width: 50px;">
      <div class="w3-container w3-center">
        <p>Current Coins: <%= user.coins %></p>
      </div>
    </div> <br>
    <a href="/tasks" class="btn btn-primary complete-button">Tasks</a> <br><br>
    <a href="/reward-store" class="btn btn-primary complete-button">Reward Store</a>
  </div>

  
  
  

  <%- include('footer') %>

  <script src="/script.js"></script>
</body>
</html>
