<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task And Reward</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/LOGO-removebg-preview.png" sizes="32x32">
</head>
<body>
  <%- include('header') %>


  <h1>Welcome, <%= user.username %>!</h1>
  <p>Current Coins: <%= user.coins %></p>
  <a href="/tasks">Tasks</a>
  <a href="/reward-store">Reward Store</a>
  

  <%- include('footer') %>

  <script src="/script.js"></script>
</body>
</html>
